<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyBJY9kQS4bbRFPfKCXzgJ7spYr_rRpVqEE</string>
    <key>GCM_SENDER_ID</key>
    <string>455918915116</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.travelOrganizer</string>
    <key>PROJECT_ID</key>
    <string>travel-organizer-proj</string>
    <key>STORAGE_BUCKET</key>
    <string>travel-organizer-proj.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:455918915116:ios:cdc9fb9ac68414b0970b89</string>
</dict>
</plist>
